</head>
<body ng-app="starter">
    <ion-pane>
        <ion-header-bar class="bar-stable">
            <h1 class="title">Accelerometer</h1>
        </ion-header-bar>
        <ion-content>
            <div class="card" ng-controller="ChatsCtrl">
                <div class="item item-divider">
                    Device Motion Information !!
                </div>
                <div class="item item-text-wrap">
                    <ul class="list">
                        <li class="item">
                            X : {{X}}
                        </li>
                        <li class="item">
                            Y : {{Y}}
                        </li>
                        <li class="item">
                            Z : {{Z}}
                        </li>
                        <li class="item">
                            timeStamp : {{timeStamp}}
                        </li>
                    </ul>
                </div>
            </div>
        </ion-content>
    </ion-pane>
</body>
</html>